.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  gap: 30px;
}
.messages {
  font-weight: 700;
}
.error{
  color: var(--errorColor);
}
.success{
  color: var(--successColor);
}
