.input__container {
  position: relative;
  color: var(--fontColor);
  font-weight: 600;
}
.input__label {
  position: absolute;
  left: 0.7em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.input {
  width: 300px;
  min-height: 60px;
  border-radius: 7px;
  border: 1px solid var(--primaryColor);
  position: relative;
  height: 1.7em;
  padding: 0 0.6em;
  font-size: 1.1em;
}
.input__label__focus {
  font-size: 0.9em;
  color: var(--secondaryColor);
  top: 25%;
  transition: all 0.1s ease-out;
}
.input__focus {
  border: 2px solid var(--secondaryColor);
}
