.newTweet {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--primaryColor);
  padding: 15px;
}
.newTweet__user {
  display: flex;
  align-items: baseline;
  gap: 15px;
}
.newTweet__text {
  border: none;
  color: var(--fontColor);
  font-size: 1.4em;
  font-weight: 500;
  width: 100%;
  resize: none;
}
.newTweet__text:focus {
  border-bottom: 1px solid var(--primaryColor);
  height: 5em;
}
.btn__tweet {
  align-self: flex-end;
}
.newTweet__reply {
  display: flex;
  color: var(--secondaryColor);
  font-weight: 800;
  font-size: 0.8em;
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid var(--primaryColor);
}
.reply__text {
  border: none;
  height: 20px;
  width: 80%;
}
